@{
    ViewBag.Title = "注册";
}

<h2>Registe</h2>

<form action="/Home/Registe" method="post" onsubmit="return check();">
    <fieldset>
        <div class="form-group" onchange="email_exist()" onkeyup="emf(this)" >
            <label>邮箱</label>
            <input type="text" id="email" name="email" class="form-control" required>
            <span id="helpBlock" class="help-block" style="display:none;">请输入正确的邮箱</span>
        </div>
        <div class="form-group">
            <label>昵称</label>
            <input type="text" id="nickname" name="nickname" class="form-control" required>
        </div>
        <div class="form-group">
            <label>密码</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <div id="cf" class="form-group">
            <label>确认密码</label>
            <input type="password" id="password2" onkeyup="confirm()" name="password2" class="form-control" required>
            <span id="helpBlock2" class="help-block" style="display:none;">两次输入密码必须相同</span>
        </div>
        <button id="Submit" type="submit" onsubmit="return check();" class="btn btn-primary">提交</button>
    </fieldset>
</form>

<script>
    var e_exist = false;
    //是否允许提交注册
    function check() {
        let pw1 = $('#password');
        let pw2 = $('#password2');
        if (pw1.val() != pw2.val()) {
            return false;
        } else {
            if (!ckem()) {
                return false;
            }
            return !e_exist;
        }
    }
    function email_exist() {
        //判断数据库内是否已存在邮箱
        e_exist = false;
        if (ckem()) {
            $.ajax({
                type: "post",
                url: "/api/auth/email_exist",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ email: $('#email').val() }),
                beforeSend: function () {
                    Change_Modal("正在验证邮箱是否存在...");
                    $('#loading').modal('toggle');
                },
                success: function (data) {
                    if (data == true) {
                        //邮箱存在
                        Change_Tip("邮箱已存在.");
                        $('#tip').show();
                        $('#loading').modal('toggle');
                        e_exist = true;
                    } else {
                        //邮箱不存在,可以注册
                        Change_Tip("可以使用的邮箱!");
                        $('#tip').show();
                        $('#loading').modal('toggle');
                    }
                }
            });
        }
    }
</script>